@use '../util' as u;
@use '../globals' as g;

.button-container {
    margin: 2.5rem 1rem;

    &--contact {
        text-align: end;
    }
}

.button {
    color: var(--clr-black-primary);;
    margin: 0 1.5rem;
    padding: .5rem 1.1rem; 
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    letter-spacing: .08rem;
    transition: .2s ease-in-out 0s;

    &--about {
        color: var(--clr-black-primary);
        background-color: var(--clr-lilac-dark);
    }

    &--contact {
        color: var(--clr-black-primary);
        background-color: var(--clr-pink-bg);
        padding: .5rem 2rem;
    }
}

.button--about:hover,
.button--contact:hover,
.button--projects:hover {
    color: var(--clr-white-primary);
    transform: scale(1.05) translateY(-.125em);
    
}

.button--about:hover {
    background-color: var(--clr-lilac-dark-button);
}

.button--contact:hover {
    background-color: var(--clr-pink-dark-button);
}



.buttons-container {
    gap: 1rem;
    justify-content: flex-end;
    text-transform: uppercase;
    margin: 1rem 2.5rem;

    &--modified {
        
        @include u.breakpoint(large) {
            justify-content: flex-start;
            margin: 1rem 0 0 3rem;
        }

    
    }
}

.button--projects {
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px solid var(--clr-black-primary);
    background-color: var(--clr-blue-bg);
    padding: .5rem 1rem;
    border-radius: 5px;
    font-size: .9rem;
    position: relative;
    transition: .2s ease-in-out 0s;

    @include u.breakpoint(medium) {
        font-size: 1rem;
    }

    &--modified {
        border: 1px solid var(--clr-white-primary);
        background-color: var(--clr-white-primary);
    }
}



.button--projects:hover {
    border: 1px solid var(--clr-black-primary);
    background-color: var(--clr-black-primary);
}