@use '../util' as u;

.section {
    padding: 7rem 0;
    

    &__title {
        font-size: 2.2rem;
        line-height: 2.3rem;
        margin-bottom: 2rem;
        font-family: var(--vollkron-font);
        padding: 0 2.2rem;
        

        @include u.breakpoint(medium) {
            font-size: 3rem;
            
        }
    }


    &__text {
        max-width: 65ch;
        font-size: 1.1rem;
        padding: .2rem 2.2rem;
        margin: 1rem 0;

        @include u.breakpoint(medium) {
            font-size: 1.3rem;
            
        }
    }

   

    &__list {
        list-style: circle;
    }

    
    }


  



