:root {
    --clr-black-primary: hsl(0, 0%, 15%);
    --clr-white-primary: hsl(0, 0%, 100%);
    --clr-neutral-light: hsl(0, 0%, 95%);
    --clr-neutral-medium: hsl(0, 0%, 82%);
    --clr-neutral-dark: hsl(0, 0%, 47%);

    --clr-lilac-bg: hsl(255, 69%, 90%);
    --clr-lilac-dark: hsl(254, 100%, 89%);
    --clr-lilac-dark-button: hsl(254, 78%, 75%);
    --clr-lilac-dark-blur: hsla(255, 100%, 88%, 0.9);
    --clr-lilac-blog: hsl(251, 83%, 70%);
    --clr-lilac-blog-dark: hsl(260, 45%, 47%);

    --clr-green-bg: hsl(151, 74%, 88%);

    --clr-pink-bg: hsl(0, 86%, 89%);
    --clr-pink-dark-button: hsl(0, 73%, 77%);
    
    --clr-blue-bg: hsl(215, 94%, 86%);
    --clr-blue-dark: hsl(215, 68%, 41%);
    --clr: rgb(235, 240, 245);
}

