@use '../util' as u;
@use '../globals' as g;
@use '../components' as c;

.wrapper--contact {
    @include u.breakpoint(xlarge) {
        background-image: url(../../images/env2bis.svg);
        background-repeat: no-repeat;
        background-position: center ;
        padding-bottom: 0;
        /*padding-bottom: 6.5rem;*/
    
    }

}

.contact {
    background-color: var( --clr-pink-bg);
    padding-bottom: 5rem;

    @include u.breakpoint(xlarge) {
      
        padding-bottom: 0;
        /*padding-bottom: 6.5rem;*/
    
    }
    
    

    &__container {
        background-color: var(--clr-white-primary);
        padding: 2.5rem 2rem;
        margin: 2rem 2.5rem;
        width: 100%;
        border-radius: 5px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        

        @include u.breakpoint(medium) {
            margin: 3.5rem 3rem;
            padding: 2.5rem 3rem;
            max-width: 75%;
        }

       

        @include u.breakpoint(xlarge) {
            padding: 2.5rem 3rem;
            margin: 11.5rem 2rem;
            
            
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        
    }
}

.contact__form > input,
textarea {
    font-family: var(--public-sans-font);
    font-size: 1rem;
    border: none;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 5px;
    padding: 1rem .7rem;
}

.contact__form > textarea {
    height: 150px
}

input:focus,
textarea:focus{
    outline: none;
    border: 1.5px solid var(--clr-pink-dark-button);
}

.flex--contact {
    justify-content: center;
    align-items: center;
    
}