@use '../util' as u;
@use '../globals' as g;

.projects {
    background-color: var(--clr-blue-bg);
    padding-bottom: 3rem;

    &__picture {
        margin: 1.5rem 2.5rem;
        @include u.breakpoint(large) {
            grid-area: image;
            padding-top: 1.5rem;
        }
        
    }

    &__text {
        max-width: 65ch;
        font-size: 1.2rem;
        padding: .2rem 2.2rem;
        margin: 1rem 0;

    }

    &__secondary {
        flex-direction: column;
        
        @include u.breakpoint(large) {
            flex-direction: row;
            align-items: center;
        }
    }

    &__secondary > .projects__text {
        max-width: 40ch;
        @include u.breakpoint(xlarge) {
         max-width: 50ch;
        
        }
    }

    

    &__title {
        font-family: var(--public-sans-font);
        font-weight: bold;
        font-size: 1.7rem;
        padding: 0 2.2rem;

        @include u.breakpoint(large) {
        margin-bottom: 0;
        padding-right: 0;
        }

    }

    &__text--modified,
    &__title--modified {
    @include u.breakpoint(large) {
        padding-left: 1.5rem;
        padding-right: 0;
        
    }
    }


    &__text-wrapper {
        @include u.breakpoint(large) {
            grid-area: text;
            margin-top: 1.6rem;
        }
        
    }

    &__text-wrapper > * {
        @include u.breakpoint(large) {
            padding: 0;
            margin: 1.5rem 2.5rem 0 0;
            
        }

    }

    



    &__list {
        gap: 2rem;
        padding-left: 0;
        padding-bottom: .5rem;
        
    }

    &__list > li {
        font-weight: 600;
        font-size: 1rem;

        @include u.breakpoint(large) {
            font-size: 1.2rem;
        }
    }

    &__name {
        color: var(--clr-blue-dark);
    }

    &__name:hover {
        border-bottom: 1px solid var(--clr-blue-dark);
    }


   
}

.wrapper--projects {
    max-width: 73rem;
    margin-bottom: 6rem;

    &-row {
        margin-bottom: 3rem;
    }
}

.grid__block {
    position: relative;
    isolation: isolate;
    @include u.breakpoint(large) {
        margin-top: 4.2rem;
        grid-template-areas: "image image image image text"  
                             "image image image image icons";
        
    }


} 

.grid__block::before {

    
  
     @include u.breakpoint(xlarge) {
        content: "";
        position: absolute;
        grid-row: 1/2;
        border-radius: 5px;
        background-color: var(--clr-white-primary);
        inset: 0 1.2em .7rem 1.2em;
        z-index: -1;
        
        
    }
    
   
}

.grid__block--modified{
    @include u.breakpoint(large) {
        grid-template-areas: "text image image image image" 
                             "icons  image image image image ";
        
    }

    

}

.projects-wrapper--modified {
    @include u.breakpoint(large) {
        padding: 0;
        margin: 2.5rem 0 0 1.5rem ;
        
    }
}


